:root {
  --gray_100: hsl(0, 0%, 94.9%);
  --gray_200: hsl(0, 0%, 85.1%);
  --gray_300: hsl(0, 0%, 50.2%);
  --gray_400: hsl(0, 0%, 20%);
  --gray_500: hsl(0, 0%, 14.9%);
  --gray_600: hsl(0, 0%, 10.2%);
  --gray_700: hsl(0, 0%, 5.1%);

  --purple: hsl(239, 92.3%, 74.5%);
  --purple_dark: hsl(239, 53.3%, 58.8%);

  --blue: hsl(203, 68.6%, 58.8%);
  --blue_dark: hsl(202, 68.3%, 37.1%);

  --danger: hsl(0, 70.4%, 61.6%);
}
